<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Temperature Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>142DD2F71CB596AC00540754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>142DD3101CB596AD00540754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>142DD31B1CB596AD00540754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
